<% provide(:title, "Blog") %>

<hr class='featurette-divider'>
<h1>Articles</h1>

<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      <% @articles.each do |article| %>
        <li class="span4">
          <div class="thumbnail">
            <%= link_to image_tag(article.article_image_url(:thumb).to_s), article %>
            <center>
              <h3><%= link_to article.title, article %></h3>  
              <%= article.published_at.to_formatted_s(:articles) %>

              <% if admin_signed_in? %>
                <%= link_to 'Edit', edit_article_path(article), class: "btn btn-primary" %>
              <% end %>
            </center>

          </div>
        </li>
      <% end %>
    </ul>
  </div>  
</div>

<% if admin_signed_in? %>
  <%= link_to 'New Article', new_article_path, class: "btn btn-primary" %>
<% end %>