<%= form_for @portfolio_item, :html => { multipart: true } do |f| %>
  <% if @portfolio_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio_item.errors.count, "error") %> prohibited this portfolio_item from being saved:</h2>

      <ul>
      <% @portfolio_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :github %>
    <%= f.text_field :github %>

    <%= f.label :site_link %>
    <%= f.text_field :site_link %>

    <%= f.label :portfolio_image %>
    <%= f.file_field :portfolio_image %>
    <%= f.hidden_field :portfolio_image_cache %>

    <%= f.check_box :remove_portfolio_image %>
    Remove portfolio image 
  </div>

  <div class="actions">
    <br />
    <%= f.submit %>
  </div>
<% end %>
