<h1>Listing portfolio_items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @portfolio_items.each do |portfolio_item| %>
  <tr>
    <td><%= portfolio_item.title %></td>
    <td><%= portfolio_item.description %></td>
    <td><%= link_to 'Show', portfolio_item %></td>
    <td><%= link_to 'Edit', edit_portfolio_item_path(portfolio_item) %></td>
    <td><%= link_to 'Destroy', portfolio_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Portfolio item', new_portfolio_item_path %>
