<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @portfolio_item.title %>
</p>

<p>
  <b>Description:</b>
  <%= @portfolio_item.description %>
</p>

<p>
  <b>Github:</b>
  <%= @portfolio_item.github %>
</p>

<p>
  <b>Site Link:</b>
  <%= @portfolio_item.site_link %>
</p>




		<%= image_tag @portfolio_item.portfolio_image_url.to_s %>

<p>
<%= link_to 'Edit', edit_portfolio_item_path(@portfolio_item) %> |
<%= link_to 'Back', portfolio_items_path %>
</p>