<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @portfolio_item.title %>
</p>

<p>
  <b>Description:</b>
  <%= @portfolio_item.description %>
</p>


		<%= image_tag @portfolio_item.portfolio_image_url.to_s %>


<%= link_to 'Edit', edit_portfolio_item_path(@portfolio_item) %> |
<%= link_to 'Back', portfolio_items_path %>
